{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galeria de Fotos - Marvel</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>

    <header class="header">
        <a href="#" class="logo">Marvel</a>
        <nav class="navbar">
            <a href="{% url 'index' %}">Home</a>
        </nav>
    </header>

    <section class="main-educacao">
        <div class="mains-educacao-container">
            <div class="main-educacao-container-titulo">
            </div>

            <div class="mains-educacao-container-cards">
                <div class="mains-educacao-container-cards-container">
                    <div class="mains-educacao-container-cards-container-enfeite">
                        <div class="mains-educacao-container-cards-container-enfeite-bolinha"></div>
                        <div class="mains-educacao-container-cards-container-enfeite-traco"></div>
                    </div>
                    <div class="mains-educacao-container-cards-container-card">
                        <div class="mains-educacao-container-cards-container-card-container">
                            <div class="mains-educacao-container-cards-container-card-container-data">
                                <div class="mains-educacao-container-cards-container-card-container-data-img">
                                    <img src="{% static 'img/marvel.jpg' %}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mains-educacao-container-cards-container">
                    <div class="mains-educacao-container-cards-container-enfeite">
                        <div class="mains-educacao-container-cards-container-enfeite-bolinha"></div>
                        <div class="mains-educacao-container-cards-container-enfeite-traco"></div>
                    </div>
                    <div class="mains-educacao-container-cards-container-card">
                        <div class="mains-educacao-container-cards-container-card-container">
                            <div class="mains-educacao-container-cards-container-card-container-data">
                                <div class="mains-educacao-container-cards-container-card-container-data-img">
                                    <img src="{% static 'img/homem_de_ferro.jpeg' %}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mains-educacao-container-cards-container">
                    <div class="mains-educacao-container-cards-container-enfeite">
                        <div class="mains-educacao-container-cards-container-enfeite-bolinha"></div>
                        <div class="mains-educacao-container-cards-container-enfeite-traco"></div>
                    </div>
                    <div class="mains-educacao-container-cards-container-card">
                        <div class="mains-educacao-container-cards-container-card-container">
                            <div class="mains-educacao-container-cards-container-card-container-data">
                                <div class="mains-educacao-container-cards-container-card-container-data-img">
                                    <img src="{% static 'img/pantera.jpeg' %}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mains-educacao-container-cards-container">
                    <div class="mains-educacao-container-cards-container-enfeite">
                        <div class="mains-educacao-container-cards-container-enfeite-bolinha"></div>
                        <div class="mains-educacao-container-cards-container-enfeite-traco"></div>
                    </div>
                    <div class="mains-educacao-container-cards-container-card">
                        <div class="mains-educacao-container-cards-container-card-container">
                            <div class="mains-educacao-container-cards-container-card-container-data">
                                <div class="mains-educacao-container-cards-container-card-container-data-img">
                                    <img src="{% static 'img/miranha.jpeg' %}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mains-educacao-container-cards-container">
                    <div class="mains-educacao-container-cards-container-enfeite">
                        <div class="mains-educacao-container-cards-container-enfeite-bolinha"></div>
                        <div class="mains-educacao-container-cards-container-enfeite-traco"></div>
                    </div>
                    <div class="mains-educacao-container-cards-container-card">
                        <div class="mains-educacao-container-cards-container-card-container">
                            <div class="mains-educacao-container-cards-container-card-container-data">
                                <div class="mains-educacao-container-cards-container-card-container-data-img">
                                    <img src="{% static 'img/doutor_estranho.jpeg' %}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="mains-educacao-container">
            <div class="main-educacao-container-titulo">
                <h1>Um pouco dos heróis</h1>
            </div>

            <div class="mains-educacao-container-cards">
                <div class="mains-educacao-container-cards-container">
                    <div class="mains-educacao-container-cards-container-enfeite">
                        <div class="mains-educacao-container-cards-container-enfeite-bolinha"></div>
                        <div class="mains-educacao-container-cards-container-enfeite-traco"></div>
                    </div>
                    <div class="mains-educacao-container-cards-container-card">
                        <div class="mains-educacao-container-cards-container-card-container">
                            <div class="mains-educacao-container-cards-container-card-container-data">
                                <div class="mains-educacao-container-cards-container-card-container-data-img">
                                    <img src="{% static 'img/loki.jpeg' %}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mains-educacao-container-cards-container">
                    <div class="mains-educacao-container-cards-container-enfeite">
                        <div class="mains-educacao-container-cards-container-enfeite-bolinha"></div>
                        <div class="mains-educacao-container-cards-container-enfeite-traco"></div>
                    </div>
                    <div class="mains-educacao-container-cards-container-card">
                        <div class="mains-educacao-container-cards-container-card-container">
                            <div class="mains-educacao-container-cards-container-card-container-data">
                                <div class="mains-educacao-container-cards-container-card-container-data-img">
                                    <img src="{% static 'img/groot.jpeg' %}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mains-educacao-container-cards-container">
                    <div class="mains-educacao-container-cards-container-enfeite">
                        <div class="mains-educacao-container-cards-container-enfeite-bolinha"></div>
                        <div class="mains-educacao-container-cards-container-enfeite-traco"></div>
                    </div>
                    <div class="mains-educacao-container-cards-container-card">
                        <div class="mains-educacao-container-cards-container-card-container">
                            <div class="mains-educacao-container-cards-container-card-container-data">
                                <div class="mains-educacao-container-cards-container-card-container-data-img">
                                    <img src="{% static 'img/guaxinim.jpeg' %}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mains-educacao-container-cards-container">
                    <div class="mains-educacao-container-cards-container-enfeite">
                        <div class="mains-educacao-container-cards-container-enfeite-bolinha"></div>
                        <div class="mains-educacao-container-cards-container-enfeite-traco"></div>
                    </div>
                    <div class="mains-educacao-container-cards-container-card">
                        <div class="mains-educacao-container-cards-container-card-container">
                            <div class="mains-educacao-container-cards-container-card-container-data">
                                <div class="mains-educacao-container-cards-container-card-container-data-img">
                                    <img src="{% static 'img/thor.jpeg' %}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </section>

</body>

</html>
